extends ./main

block title
    title #{title} - 404

block content
    section
        h2 Error 404
        p There is nothing there... maybe you want to go back to <a href="#{urls.index}")>the index</a>
