doctype html
html(lang='fr')
    head
        meta(charset='utf-8')
        //-link(rel="stylesheet", href="/static/css/style.css")
        block title

    body
        block content

        block js
