extends ../../../views/main

block title
    title #{title} - Index

block js
    script(src='/static/js/three.min.js')
    script(src='/static/js/Movement.js')
    script(src='/static/js/Lifetime.js')
    script(src='/static/js/ObstacleCollision.js')
    script(src='/static/js/Element.js')
    script(src='/static/js/HealHurt.js')
    script(src='/static/js/ElementalSphere.js')
    script(src='/static/js/UnmeshSpell.js')
    script(src='/static/js/TimeSpell.js')
    script(src='/static/js/UnmeshSpellList.js')
    script(src='/static/js/Tile.js')
    script(src='/static/js/Matrix.js')
    script(src='/static/js/Map.js')
    script(src='/static/js/Motion.js')
    script(src='/static/js/Tools.js')
    script(src='/static/js/Personnage.js')
    script(src='/static/js/ElementalMesh.js')
    script(src='/static/js/test.js')

block content
    h1 ファイト
    p.
        Petit jeu de test
